/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffffe;
}
/*MAIN*/

/*Titolo*/

h1{
    font-family: 'Fredoka', sans-serif;
    color: #e53170;
    text-align: center;
    margin-top: 1.5rem;
    
}

/*Contenitore*/
.contenitore{
    width: 80%;
    max-width: 1200px;
    margin: 1.5rem auto;
    text-align: center;
}

/*Griglia carte*/
.griglia_carte{
    padding-top: 3rem;
    width: 100%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/*Carta*/
.carta{
    float: left;
    height: 100px;
    width:calc((100% / 3) - (40px / 3));
    background-color: #0f0e17;
    margin-bottom: 1.5rem;
}

/*Spaziatura colonna*/
.colonna_centrale{
    margin-right: 20px;
    margin-left: 20px;
}