/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

body{
    background-color: #fffffe;
}
/*MAIN*/

/*Testi*/

h1{
    font-family: 'Fredoka', sans-serif;
    color: #e53170;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
}
h2{
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 530; 
    font-size: 1.3rem;
    margin-top:1rem;
}
p{
    text-align: center;
    
}
.descrizione{
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 100; 
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


/*Contenitore*/
.contenitore{
    width: 80%;
    max-width: 1200px;
    margin: 1.5rem auto;
}

/*Griglia carte*/
.griglia_carte{
    padding-top: 3rem;
    width: 100%;
    min-width: 1350px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/*Carta*/
.carta{
    float: left;
    height: 10rem;
    width:calc((100% / 3) - (40px / 3));
    min-width: 340px;
    background-color: #0f0e17;
    margin-bottom: 1.5rem;
}

/*Spaziatura colonna*/
.colonna_centrale{
    margin-right: 20px;
    margin-left: 20px;
}

/*Immagini*/
.immagini{
    height: 100%;
    float: left;
    padding-right: 1rem;
}
/*Email*/
.email{
    color:#1095e6;
    text-decoration: none;
    width: 0.9em;
}